 /* Style for banner image container */
 .banner-image {
    position: relative;
    text-align: center;
    height: 500px;
    overflow: hidden;
  }

  /* Ensures the banner image covers the container fully */
  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Dark overlay to improve text visibility */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* Style for the call to action button on the banner */
  .banner-image .btn {
    position: absolute;
    top: 50%;
    left: 20%;
    border-radius: 0;
    /* Center button vertically and horizontally */
    transform: translate(-50%, -50%);
    z-index: 1;
    animation: pulseAnimation 2s infinite;
  }


  /* Style for banner text */
  .banner-text {
    position: absolute;
    top: 50%;
    /* Adjust the position as needed */
    left: 15%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* White text color */
    font-size: 12px;
    /* Larger text size */
    z-index: 1;
  }

  /* Style for the call to action button on the banner */
  .banner-image .btn {
    position: absolute;
    top: 55%;
    /* Adjusted for new text */
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    /* Larger font size for the button */

    z-index: 1;
  }

  /* Animation for button to grab attention */
  @keyframes pulseAnimation {
    0% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
    }

    50% {
      transform: scale(1.05);
      box-shadow: 0 0 10px 4px rgba(0, 123, 255, 0.5);
    }

    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
    }
  }

  /* Styling for the uploaded image preview */
  #uploadedImage {
    display: none;
    margin-left: 25px;
    /* Adjusts left margin for spacing */
  }
