 /* Card styles with hover effects for engagement */
 .card-container {
    display: flex;
    justify-content: stretch;
    /* Stretch to fill the width */
    margin-top: -20px;

    border-radius: 0;
  }

  .card {
    color: rgb(249, 251, 253); /* Adjusted text color */
    background-image: linear-gradient(to right, #007bff, #0056b3); /* Gradient background from light to dark blue */
    /* White text color */
    flex: 1;
    /* Flex grow to full width */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 0;
  }

  .card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card p {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    /* White background for buttons */
    color: #009ffd;
    /* Blue text color to match card */
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .card a:hover {
    background-color: #e1e1e1;
    /* Light grey background for hover */
  }

  .card i {
    font-size: 24px;
    /* Larger icon size */
    margin-bottom: 10px;
  }