
    /* Footer Section */
    .footer {
        display: flex;
        justify-content: space-around;
        padding: 40px;
        background-color: #2c3e50;
        /* Dark blue background */
        color: white;
      }
  
      .footer-column {
        display: flex;
        flex-direction: column;
      }
  
      .footer-column h3 {
        color: #ffffff;
        margin-bottom: 15px;
      }
  
      .footer-column a,
      .footer-column p {
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 10px;
        transition: color 0.3s;
      }
  
      .footer-column a:hover {
        color: #3498db;
        /* Light blue for hover state */
      }
  
      .social-icons {
        margin-top: 20px;
      }
  
      .social-icons a {
        display: inline-block;
        margin-right: 10px;
        color: inherit;
        /* Inherits the white color */
      }
  
      .social-icons a img {
        width: 20px;
        /* Size of social icons */
      }
  
      /* Copyright Section */
      .copyright {
        text-align: center;
        padding: 10px 0;
        background-color: #34495e;
        /* Slightly lighter blue */
        color: white;
        font-size: 0.9rem;
  
      }